<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<i class="fa fa-cog"></i>
<input type="file" accept="image/*" style="visibility: hidden;">

<div>
  <label for="files" class="btn btn-default"><i class="fa fa-camera"></i></label>
  <input id="files" type="file" accept="image/*" style="visibility: hidden;">
</div>