<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div>
  <label for="files"><i class="fa fa-camera"></i></label>
  <input id="files" type="file" accept="image/*" class="inputfile">
</div>