.footer {
  width: 100%;
  height: 75px;
  background-color: #e1e1e1;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.camera {
  margin-top: 5px;
}

.search {
  align-items: center;
  margin-bottom: 5px;
  input {
    border: solid 1px #d8d8d8;
    border-radius: 6px;
    font-weight: 100;
    font-size: 12px;
    height: 25px;
    padding: 0 10px;
    background-color: #fffefe;
  }
}